.about {
  position: relative;
  padding: 31px 386px 111px 553px;
  margin: 0 auto;
  max-width: 1500px;

  background-image: url("../img/2005.png");
  background-repeat: no-repeat;
  background-position: 20% 29%;
  background-size: 217px 320px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/2005-2x.png");
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 550px;
    height: 897px;
    top: -83%;
    left: 0;
    z-index: -1;

    background-image: url("../img/rect-2005-left-desktop.svg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.about h2 {
  margin: 0;
  padding: 0 0 19px 0;

  @include Roboto-style(36px, normal, 57px, $grey-brown, left, none);
}

.about p {
  margin: 0;
  padding: 0 0 19px 0;
}

.about a {
  padding: 11px 49px 10px 49px;
  box-sizing: border-box;
  margin-top: 20px;
  display: block;
  max-width: 183px;

  border-radius: 5px;
  border: solid 2px $blue;
  cursor: pointer;

  @include Roboto-style(14px, bold, 18px, $blue, center, uppercase);
  letter-spacing: 0.05em;
  text-decoration: none;

  &:hover,
  &:focus {
    border-color: $blue;
    background-color: $blue;
    color: $white;
  }

  &:active {
    background-color: $active-blue;
    border-color: $active-blue;
  }
}

.about span {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: $desktop-width) {
  .about {
    max-width: 1024px;
    padding: 36px 70px 103px 312px;

    background-position: 8% 33%;

    &::before {
      top: -145%;
      left: -26%;
      z-index: -1;
    }
  }
}

@media (max-width: 1500px) {
  .about {
    max-width: 1024px;
    padding: 36px 70px 103px 312px;

    background-position: 8% 33%;

    &::before {
      display: none;
    }
  }
}

@media (max-width: $tablet-width) {
  .about {
    padding: 9px 37px 85px 212px;

    background-position: -2% 13%;
    background-size: 261px 351px;
  }

  .about h2 {
    margin: 0;
    padding: 0 0 25px 0;

    @include Roboto-style(32px, normal, 45px, $grey-brown, left, none);
  }

  .about p {
    margin: 0;
    padding: 0 0 24px 0;
  }

  .about span {
    display: none;
  }

  .about a {
    margin-top: 15px;
  }
}

@media (max-width: $mobile-width) {
  .about {
    padding: 15px 13px 65px 13px;

    background: none;
  }

  .about h2 {
    padding: 0 0 21px;

    @include Roboto-style(28px, normal, 39px, $grey-brown, left, none);
  }

  .about p {
    padding-bottom: 40px;

    &:last-of-type {
      padding-bottom: 29px;
    }
  }

  .about a {
    margin-top: 0;
  }
}
