.about {
  padding: 18px 17px 76px 15px;
  margin: 0 auto;
  max-width: 1024px;
}

.about__headline {
  margin: 0;

  @include Roboto-style(28px, normal, 140.62%, $grey-brown, left, none);
}

.about__description {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 21px;

  &:last-of-type {
    padding-bottom: 39px;
  }
}

.about__description-more {
  display: none;
}

.about__more-link {
  padding: 11px 49px 10px 49px;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 2px $blue;

  @include Roboto-style(14px, bold, 18px, $blue, center, uppercase);
  letter-spacing: 0.05em;
  text-decoration: none;

  &:hover,
  &:focus {
    border-color: $blue;
    background-color: $blue;
    color: $white;
  }

  &:active {
    background-color: $active-blue;
    border-color: $active-blue;
  }
}

@media (min-width: 500px) {
  .about {
    padding: 18px 40px 68px 40px;
  }
}

@media (min-width: $tablet-width) {
  .about {
    position: relative;
    padding: 36px 35px 95px 212px;

    background-image: url("../../img/2005.png");
    background-position: -2% 33%;
    background-size: 261px 351px;
    background-repeat: no-repeat;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../../img/2005-2x.png");
    }
  }

  .about__headline {
    @include Roboto-style(32px, normal, 140.62%, $grey-brown, left, none);
  }

  .about__description {
    padding-top: 23px;
    padding-bottom: 0;

    &:last-of-type {
      padding-bottom: 52px;
    }
  }
}

@media (min-width: $desktop-width) {
  .about {
    padding: 36px 70px 103px 312px;

    background-position: 8% 33%;
  }
}

@media (min-width: $mega-desktop-width) {
  .about {
    position: relative;
    padding: 31px 70px 121px 286px;

    background-position: 7% 29%;
    background-size: 217px 320px;

    &:before {
      position: absolute;
      content: "";
      display: block;
      width: 550px;
      height: 897px;
      top: -83%;
      left: -20%;

      background-image: url(../../img/rect-2005-left-desktop.svg);
      background-position: left;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .about__headline {
    @include Roboto-style(36px, normal, 57px, $grey-brown, left, none);
  }

  .about__description {
    padding-top: 18px;
    padding-right: 54px;
  }

  .about__description-more {
    display: inline-block;
  }
}
