.benefits__list {
  list-style-type: none;
}

.benefits__list-item {
  position: relative;
  border-left: 3px solid $blue;
}

.benefits__list-item:hover,
.benefits__list-item:focus {
  background-color: $blue;

  .benefits__item-headline {
    color: $white;
  }

  .benefits__item-description {
    color: $white;
  }
}

.benefits__list-item {
  &::before {
    content: "";

    position: absolute;
    display: block;
    top: 0;
    left: 0;

    @include backImage();
  }

  &--watch::before {
    width: 29px;
    height: 35px;

    background-image: url("../../img/watch.svg");
  }

  &--people::before {
    width: 35px;
    height: 35px;

    background-image: url("../../img/people.svg");
  }

  &--man::before {
    width: 36px;
    height: 31px;

    background-image: url("../../img/man.svg");
  }

  &--money::before {
    width: 35px;
    height: 35px;

    background-image: url("../../img/money.svg");
  }
}

.benefits__item-headline {
  @include Roboto-style(24px, normal, 38px, $blue, left, none);
}

