.benefits {
  position: relative;
  padding: 111px 16px 40px 14px;
  max-width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 873px;
    bottom: -11%;
    right: 26%;
    height: 649px;
    z-index: -1;

    background-image: url("../../img/rect-benefits-bottom-desktop.svg");
    background-position: right 47%;
    background-repeat: no-repeat;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 336px;
    bottom: 4%;
    right: 2%;
    height: 516px;

    background-image: url("../../img/rect-benefits-right-desktop.svg");
    background-position: right 70%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.benefits__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  max-width: 1170px;

  list-style-type: none;

  position: relative;
  align-content: stretch;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 350px;
    height: 500px;
    top: -119px;
    left: -184px;
    z-index: -1;

    background-image: url("../../img/rect-benefits-left-top-desktop.svg");
    background-position: left 30%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.benefits__list-item {
  padding: 40px 41px 61px 44px;
  width: 49%;
  min-height: 299px;
  align-items: stretch;
  box-sizing: border-box;
  margin-bottom: 31px;

  border-left: 3px solid $blue;
  border-top: 1px solid $light-grey;
  border-right: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  background-color: $white;
}

.benefits h3 {
  padding: 15px 0 0 0;
  margin: 0;

  @include Roboto-style(24px, normal, 38px, $blue, left, none);
}

.benefits p {
  margin: 0;
  padding-top: 15px;
}

.benefits svg {
  fill: $blue;
}

.benefits__list-item:hover,
.benefits__list-item:focus {
  background-color: $blue;

  h3,
  p {
    color: $white;
  }

  svg {
    fill: $white;
  }
}

@media (max-width: $desktop-width) {
  .benefits {
    padding: 56px 70px 70px 70px;

    &::before {
      width: 973px;
      bottom: -35%;
      right: 0;
      height: 749px;

      background-image: url("../../img/rect-benefits-bottom-tablet.svg");
      background-position: right 47%;
    }

    &::after {
      display: none;
    }
  }

  .benefits__list {
    &::before {
      display: none;
    }
  }
}

@media (max-width: $tablet-width) {
  .benefits {
    padding: 56px 25px 20px 25px;
  }

  .benefits__list {
    justify-content: flex-start;
  }

  .benefits__list-item {
    width: 48%;
    max-width: 570px;
    min-height: auto;
    padding: 25px 22px 22px;
    margin-bottom: 31px;

    &:nth-child(odd) {
      margin-right: 28px;
    }
  }

  .benefits h3 {
    padding: 0;

    @include Roboto-style(24px, normal, 38px, $blue, left, none);
  }

  .benefits p {
    padding-top: 8px;
  }
}

@media (max-width: $mobile-width) {
  .benefits {
    padding: 36px 13px 20px;
  }

  .benefits__list-item {
    width: 100%;
    margin: 0 auto 20px;
  }

  .benefits__list-item:nth-child(odd) {
    margin-right: auto;
  }

  .benefits h3 {
    padding: 6px 0 10px 0;

    @include Roboto-style(20px, normal, 28px, $blue, left, none);
  }

  .benefits p {
    padding-top: 0;
  }
}
