.callback {
  background-color: $blue;
}

.callback__wrapper {
  position: relative;
  max-width: 1500px;

  &::after {
    @include pseudoClass();
    @include backImage();

    background-image: url("../../img/plane.png");
    width: 511px;
    height: 288px;
    top: 162px;
    left: 9%;
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    left: -63%;
    top: -27%;
    width: 1672px;
    height: 884px;

    background-image: url("../../img/rect-main-desktop.svg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
  }
}

.callback__wrapper .form {
  padding: 90px 40px 110px 762px;
}

@media (max-width: $desktop-width) {
  .callback__wrapper .form {
    padding: 90px 40px 110px 762px;
  }

  .callback__wrapper {
    &::after {
      width: 511px;
      height: 288px;
      top: 162px;
      left: 9%;
    }

    &::before {
      left: -63%;
      top: -27%;
      width: 1672px;
      height: 884px;
    }
  }
}

@media (max-width: 1500px) {
  .callback__wrapper .form {
    padding: 79px 84px 106px 84px;
    margin: 0 auto;
    max-width: 600px;
  }

  .callback__wrapper {
    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}

@media (max-width: $tablet-width) {
  .callback__wrapper {
    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  .callback__wrapper .form {
    padding: 79px 84px 106px 92px;
  }
}


@media (max-width: $mobile-width) {
  .callback__wrapper .form {
    padding: 33px 15px 40px;
  }
}
