.contacts__headline {
  @include Roboto-style(15px, normal, 16px, $dark-background, center, uppercase);
  letter-spacing: 0.05em;
}

.contacts__list {
  list-style-type: none;
}

.contacts__item {
  opacity: 0.5;

  font-size: 15px;
  line-height: 25px;
  color: $dark-background;
}

.contacts__link {
  text-decoration: none;
  color: $dark-background;
}
