.contacts-list {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  flex-grow: 1;
  padding: 16px 59px;
}

.contacts-list__link {
  position: relative;
  text-decoration: none;
  color: $white;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: middle;

    @include backImage();
  }

  &--mail {
    padding-right: 82px;
  }

  &--mail::before {
    width: 30px;
    height: 15px;
    margin-right: 8px;

    background-image: url("../img/mail.svg");
  }

  &--tel::before {
    margin: 0 6px;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    background-image: url("../img/phone-call.svg");
  }
}

.contacts-list__link:hover,
.contacts-list__link:focus {
  &::before {
    filter: brightness(100);
  }
}

.contacts-list__link:active {
  opacity: 0.5;
}

.contacts-list__item-text {
  display: inline-block;
  vertical-align: middle;
}

@media (max-width: 1500px) {
  .contacts-list {
    width: 7%;
    padding: 16px 53px 0 250px;
  }

  .contacts-list__item-text {
    display: none;
  }

  .contacts-list__link {
    &--mail::before {
      width: 25px;
      height: 25px;
    }

    &--tel::before {
      width: 25px;
      height: 25px;
    }
  }
}

@media (max-width: $tablet-width) {
  .contacts-list__link--mail {
    padding-right: 0;
  }

  .contacts-list {
    justify-content: space-between;
    width: 17%;
    padding: 14px 4px 14px 36px;
    flex-grow: 0;
  }
}

@media (max-width: $mobile-width) {
  .contacts-list {
    width: 34%;
    padding: 5px 0 5px 24px;
    margin-right: -4px;
    margin-left: 3px;
  }
}
