.copyright__list {
  list-style-type: none;
}

.copyright__item {
  opacity: 0.5;

  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $dark-background;
}

.copyright__link {
  text-decoration: none;
  color: $dark-background;
}
