.copyright {
  padding: 30px 49px 0 52px;
  border-top: 1px solid rgba(98, 105, 98, 0.1);
}

.copyright__list {
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
}

.copyright__item {
  padding-bottom: 21px;

  opacity: 0.5;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: $dark-background;
  text-align: center;
}

.copyright__item:not(.copyright__item--mod) {
  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__item--mod {
  display: none;
}

.copyright__link {
  text-decoration: none;
  color: $dark-background;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 100%;
    padding: 21px 25px 0 25px;
  }

  .copyright__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1073px;
    margin: 0 auto;
  }
}

@media (min-width: 1500px) {
  .copyright {
    padding: 16px 25px 0 25px;
  }

  .copyright__list {
    justify-content: start;
    max-width: none;
  }

  .copyright__item--mod {
    display: inline-flex;
  }

  .copyright__item:nth-child(1) {
    padding-right: 75px;
  }

  .copyright__item:nth-child(2) {
    padding-right: 139px;
  }

  .copyright__item:nth-child(3) {
    padding-right: 401px;
  }

  .copyright__item:nth-child(4) {
    padding-right: 0;
  }
}

@media (min-width: $mega-desktop-width) {
  .copyright {
    padding: 16px 32px 0 249px;
  }
}

