.copyright {
  width: 100%;
  border-top: $border-line;
}

.copyright__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1073px;
  margin: 0 auto;
  padding: 16px 32px 0 249px;
  box-sizing: border-box;
  list-style-type: none;
}

.copyright__item {
  padding-bottom: 21px;

  opacity: 0.5;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: $dark-background;
  text-align: center;
}

.copyright__item:not(.copyright__item--mod) {
  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__item--mod {
  display: block;
}

.copyright__link {
  text-decoration: none;
  color: $dark-background;
}

@media (max-width: $desktop-width) {
  .copyright__list {
    padding: 0;
  }
}

@media (max-width: $tablet-width) {
  .copyright__list {
    padding: 30px;
  }

  .copyright__item--mod {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .copyright__item {
    width: 100%;
  }

  .copyright__item--mod {
    display: none;
  }
}
