.footer {
  width: 100%;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  padding: 39px 252px 0 252px;
}

@media (max-width: $tablet-width) {
  .footer__wrapper {
    display: block;
    padding: 0;
  }
}

@media (max-width: $mobile-width) {
  .footer__wrapper {
    padding: 27px 0 0;
  }
}



