.footer {
  width: 100%;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
  padding: 64px 122px 57px 252px;
}


@media (max-width: $desktop-width) {
  .footer__wrapper {
    display: flex;
    padding: 64px 101px 57px;
  }
}

@media (max-width: 1500px) {
  .footer__wrapper {
    display: block;
    padding: 0;
  }
}

@media (max-width: $mobile-width) {
  .footer__wrapper {
    padding: 27px 0 0;
  }
}



