.form {
  padding: 31px 14px 39px 15px;
}

.form__fieldset {
  padding: 0 56px 0 0;
  border: none;
}

.form__text {
  margin: 0;
  padding-bottom: 13px;

  @include Roboto-style(28px, normal, 140.62%, $white, left, none);
}

.form__description {
  margin: 0;
  padding-bottom: 24px;

  color: $white;
}

.form__label {
  display: block;
  width: 100%;
  margin-bottom: 25px;
}

.form__input {
  padding: 14px 14px 20px 14px;
  resize: none;
  box-sizing: border-box;
  width: 100%;

  background-color: rgba(229, 242, 255, 0.1);
  border: none;

  @include PTMono-style(16px, normal, 22px, $white, left, none);

  &::placeholder {
    color: $white;
    font-size: 16px;
    line-height: 22px;

    background-color: transparent;
  }

  &:hover,
  &:focus {
    background-color: rgba(229, 242, 255, 0.3);
  }
}

.form__label--textarea .form__input {
  min-height: 108px;
}

.form__nav-submit-button {
  margin: 0 auto;
  padding: 13px 0 13px 0;
  width: 100%;
  max-width: 400px;
  display: block;

  background-color: transparent;
  border: 1px solid $white;
  box-sizing: border-box;
  border-radius: 5px;

  @include Roboto-style(14px, bold, 18px, $white, center, uppercase);
  letter-spacing: 0.05em;

  &:hover,
  &:focus {
    background-color: $white;
    border-color: $white;
    color: $blue;
  }

  &:active {
    background-color: $active-blue;
    border-color: $active-blue;
  }
}

.form__nav-privacy-label {
  display: inline-block;
  padding: 30px 61px 0 34px;
  position: relative;

  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.8;
}

.form__nav-privacy-description {
  padding: 0;
}

.form__nav-privacy-checkbox + .form__nav-privacy-description::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 32px;
  left: 0;
  width: 15px;
  height: 14px;
  margin-right: 17px;

  border: solid 1px $white;
}

.form__nav-privacy-checkbox:checked + .form__nav-privacy-description::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 37px;
  left: 3px;
  width: 10px;
  height: 6px;

  background-image: url("../../img/checked.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (min-width: 500px) {
  .form {
    padding: 31px 40px 39px 40px;
  }
}

@media (min-width:$tablet-width) {
  .form__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__text {
    @include Roboto-style(32px, normal, 45px, $white, left, none);
  }

  .form__description {
    padding-bottom: 53px;
  }

  .form__label:not(.form__label--textarea) {
    margin-bottom: 39px;
    width: 47%;
  }

  .form__label--textarea .form__input {
    min-height: 159px;
  }

  .form__nav {
    padding: 14px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form__nav-submit-button {
    width: 47%;
    margin: 0;
  }

  .form__nav-privacy-label {
    width: 36%;
    padding: 10px 23px 0 34px;
  }

  .form__nav-privacy-checkbox + .form__nav-privacy-description::before {
    top: 10px;
  }

  .form__nav-privacy-checkbox:checked + .form__nav-privacy-description::after {
    top: 14px;
    left: 3px;
  }
}

@media (min-width: $mega-desktop-width) {
  .form__text {
    padding-bottom: 5px;
    @include Roboto-style(36px, normal, 57px, $white, left, none);
  }

  .form__block {
    max-width: 574px;
  }

  .form__label:not(.form__label--textarea) {
    margin-bottom: 40px;
  }

  .form__input {
    padding: 13px 19px 14px 19px;
  }

  .form__label--textarea .form__input {
    min-height: 153px;
  }

  .form__nav {
    max-width: 572px;
  }
}
