.form {
  padding: 31px 14px 39px 15px;
}

.form__fieldset {
  padding: 0 56px 0 0;
  border: none;
}

.form__text {
  margin: 0;
  padding-bottom: 13px;

  @include Roboto-style(28px, normal, 140.62%, $white, left, none);
}

.form__description {
  margin: 0;
  padding-bottom: 24px;

  color: $white;
}

.form__input {
  padding: 14px 40px 20px 14px;
  margin-bottom: 25px;
  width: 100%;

  background-color: rgba(229, 242, 255, 0.1);
  border: none;

  @include PTMono-style(16px, normal, 22px, $white, left, none);

  &::placeholder {
    color: $white;
    font-size: 16px;
    line-height: 22px;

    background-color: transparent;
  }

  &:hover,
  &:focus {
    background-color: rgba(229, 242, 255, 0.3);
  }
}

.form__label--mod .form__input {
  padding: 14px 40px 51px 14px;
  margin-bottom: 22px;
  resize: none;
}

.form__nav-submit-button {
  margin: 0 auto;
  padding: 13px 0 13px 0;
  width: 100%;
  max-width: 400px;
  display: block;

  background-color: transparent;
  border: 1px solid $white;
  box-sizing: border-box;
  border-radius: 5px;

  @include Roboto-style(14px, bold, 18px, $white, center, uppercase);
  letter-spacing: 0.05em;

  &:hover,
  &:focus {
    background-color: $white;
    border-color: $white;
    color: $blue;
  }

  &:active {
    background-color: $active-blue;
    border-color: $active-blue;
  }
}

.form__nav-privacy-label {
  display: inline-block;
  padding: 30px 61px 0 34px;
  position: relative;

  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.8;
}

.form__nav-privacy-description {
  padding: 0 0 0 0;
}

.form__nav-privacy-checkbox + .form__nav-privacy-description::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 32px;
  left: 0;
  width: 15px;
  height: 14px;
  margin-right: 17px;

  border: solid 1px $white;
}

.form__nav-privacy-checkbox:checked + .form__nav-privacy-description::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 37px;
  left: 3px;
  width: 10px;
  height: 6px;

  background-image: url("../../img/checked.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media (min-width: 500px) {
  .form {
    padding: 31px 40px 39px 40px;
  }
}

@media (min-width: $tablet-width) {
  .form {
    padding: 37px 86px 104px 87px;
  }

  .form__text {
    padding: 0;
    @include Roboto-style(32px, normal, 45px, $white, left, none);
  }

  .form__description {
    padding: 15px 0 55px 6px;
  }

  .form__block--mod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 39px 5px;
    margin: 0;
  }

  .form__block--mod .form__label {
    display: inline-block;
    box-sizing: border-box;
    width: 47%;
  }

  .form__label {
    width: 100%;
  }

  .form__label--mod {
    width: 100%;
  }

  .form__label--mod .form__input {
    padding: 12px 17px 12px 17px;
    min-height: 159px;
    margin: 0;
  }

  .form__input {
    box-sizing: border-box;
    padding: 14px 16px 15px 16px;
    margin-bottom: 42px;
  }

  .form__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .form__nav-submit-button {
    display: inline-block;
    margin: 0;
    width: 48%;
  }

  .form__nav-privacy-label {
    display: inline-block;
    padding: 0 0 0 30px;
    width: 45%;
    box-sizing: border-box;
  }

  .form__nav-privacy-checkbox + .form__nav-privacy-description::before {
    top: 2px;
    left: -4px;
  }

  .form__nav-privacy-checkbox:checked + .form__nav-privacy-description::after {
    top: 8px;
    left: -1px;
  }
}
