.form__text {
  @include Roboto-style(36px, normal, 57px, $white, left, none);
}

.form__description {
  color: $white;
}

.form__input::placeholder {
  padding: 0;

  background-color:  $blue;

  color: $white;
}

.form__submit-button {
  background-color: transparent;

  @include Roboto-style(14px, bold, 18px, $white, center, uppercase);
  letter-spacing: 0.05em;
}

.form__privacy-label {
  opacity: 0.8;

  font-size: 14px;
  line-height: 16px;
  color: $white;
}
