.info-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-grow: 1;
}

.info-menu__wrapper {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.info-menu__sitemap {
  flex-basis: auto;
  padding-left: 81px;
}

.info-menu h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  width: 100%;

  @include Roboto-style(15px, normal, 16px, #1B2D37, left, uppercase);
  letter-spacing: 0.05em;
}

.info-menu__list {
  display: block;
  padding: 0;
  padding-right: 74px;
  margin: 0;
  list-style-type: none;
}

.info-menu__contacts {
  padding: 0 20px 0 161px;
}

.info-menu__list-wrapper {
  display: flex;
}

.info-menu__item {
  opacity: 0.5;

  font-size: 15px;
  line-height: 25px;
  color: $dark-background;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.info-menu__item a {
  text-decoration: none;
  color: $dark-background;
  cursor: pointer;
}

@media (max-width: $desktop-width) {
  .info-menu__sitemap {
    padding-left: 0;
  }

  .info-menu__contacts {
    padding: 0;
  }
}

@media (max-width: 1500px) {
  .info-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 34px 27px 35px;
    border-top: none;
  }

  .info-menu__wrapper {
    width: 45%;
    border: none;
  }

  .info-menu h3 {
    padding: 0;

    &::after {
      display: none;
    }
  }

  .info-menu__list {
    margin: 0;
    padding: 0;
  }

  .info-menu__wrapper:first-of-type .info-menu__list:first-of-type {
    padding: 0;
    width: auto;
  }

  .info-menu__list-wrapper {
    flex-direction: column;
  }

  .info-menu__sitemap {
    flex-basis: auto;
    padding-left: 0;
  }

  .info-menu__contacts {
    width: 47%;
  }
}

@media (max-width: $mobile-width) {
  .info-menu {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .info-menu__list {
    padding: 3px 17px 25px 17px;
  }

  .info-menu__wrapper:first-of-type .info-menu__list:first-of-type {
    padding: 0 17px 0 17px;
  }

  .info-menu__wrapper {
    width: 100%;
    border-top: $border-line;
  }

  .info-menu--collapsed {
    .info-menu h3::after {
      background-image: url("../img/plus.svg");
    }

    .info-menu__list {
      display: none;
    }
  }

  .info-menu h3 {
    position: relative;
    margin: 0;
    padding: 28px 15px;
    box-sizing: border-box;

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      vertical-align: middle;
      width: 17px;
      height: 17px;
      top: 29px;
      right: 17px;
      background-image: url("../img/minus.svg");

      @include backImage();
    }
  }
}
