.info-menu__wrapper {
  padding: 0;
  border-top: 1px solid rgba(98, 105, 98, 0.1);
}

.info-menu__wrapper:first-of-type .info-menu__list:first-of-type {
  padding: 0 17px 0 17px;
}

.info-menu__headline {
  position: relative;
  margin: 0;
  padding: 29px 16px;

  @include Roboto-style(15px, normal, 16px, $dark-background, center, uppercase);
  letter-spacing: 0.05em;
  text-align: left;

  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 17px;
    height: 17px;
    top: 29px;
    right: 17px;
    background-image: url("../../img/minus.svg");
    @include backImage();
  }
}

.info-menu--collapsed {
  .info-menu__headline:after {
    background-image: url("../../img/plus.svg");
  }

  .info-menu__list {
    display: none
  }
}

.info-menu__list {
  display: block;
  padding: 0 17px 26px 17px;
  margin: 0;
  list-style-type: none;
}

.info-menu__item {
  opacity: 0.5;

  font-size: 15px;
  line-height: 25px;
  color: $dark-background;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.info-menu__link {
  text-decoration: none;
  color: $dark-background;
}

@media (min-width: $tablet-width) {
  .info-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 38px 33px 35px 27px;
    border-top: none;
  }

  .info-menu__wrapper {
    border: none;
  }

  .info-menu__headline {
    padding: 0 0 26px 0;

    &:after {
      display: none;
    }
  }

  .info-menu__list {
    margin: 0;
    padding: 0;
  }

  .info-menu__wrapper:first-of-type .info-menu__list:first-of-type {
    padding: 0;
  }
}

@media (min-width: 1500px) {
  .info-menu {
    padding: 0 0 57px 0;
    margin: 0;
    max-width: 1025px;
  }

  .info-menu__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .info-menu__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .info-menu__headline {
    width: 100%;
  }

  .info-menu__item {

  }

  .info-menu__wrapper:first-of-type .info-menu__list:first-of-type {
    width: 66%;
  }
}

@media (min-width: $mega-desktop-width) {
  .info-menu {
    padding: 0 0 57px 99px;
    max-width: 1067px;
  }

}

