.main-screen {
  position: relative;
  padding: 155px 0 275px 249px;

  background-image: url("../../img/boards-mobile.png");
  background-position: 84% 63%;
  background-size: 685px 515px;
  background-repeat: no-repeat;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../../img/boards-mobile2x.png");
  }
}

.main-screen__text-wrapper {
    max-width: 44%;
    padding: 0;
  }

.main-screen__headline {
  position: relative;
  margin-bottom: 0;

  @include Roboto-style(80px, bold, 106px, $white, left, uppercase);
  letter-spacing: 0.07em;
  z-index: 10;
}

.main-screen__description {
  position: relative;
  padding-left: 53px;
  margin-bottom: 41px;

  font-size: 22px;
  letter-spacing: -1px;
  line-height: 34px;
  color: $white;
  text-transform: lowercase;

  &:before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 33px;
    height: 2px;
    left: 4px;
    top: 13px;

    background: $white;
  }
}

.main-screen__link {
  margin: 0 auto;
  padding: 16px 32px 18px 32px;
  display: block;

  border: none;
  background-color: $blue;
  border-radius: 5px;

  text-decoration: none;
  text-align: center;

  &:hover,
  &:focus {
    box-shadow: 0 0 14px 3px $blue;
  }

  &:active {
    background-color: $active-blue;
  }
}

.main-screen__link-text {
  @include Roboto-style(16px, bold, 21px, $white, center, uppercase);
  letter-spacing: 0.05em;

  &--tablet {
    display: none;
  }
}

.main-screen__description {
    margin-bottom: 0;
    margin-top: 0;
    padding: 19px 0 44px 99px;

    &:before {
      width: 65px;
      top: 36px;
    }
  }

.main-screen__link {
  margin: 0 auto 0 97px;
  padding: 16px 45px 18px 47px;
  max-width: 317px;
}

.main-screen__scroll {
  display: inline-block;
  position: absolute;
  bottom: 129px;
  left: 216px;

  transform: rotate(-90deg);
  opacity: 0.5;

  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

//@media (max-width: $mega-desktop-width - 1) {
//  .main-screen {
//      background-position: 100% 13%;
//      background-size: 432px 532px;
//    }
//
//  .main-screen__text-wrapper {
//    padding: 0 273px 0 88px;
//    margin: 0;
//  }
//
//  .main-screen__headline {
//    @include Roboto-style(80px, bold, 106px, $white, left, uppercase);
//    letter-spacing: 0.07em;
//  }
//
//  .main-screen__description {
//    font-size: 22px;
//    line-height: 34px;
//    color: $white;
//  }
//}

@media (max-width: $tablet-width) {
  .main-screen {
    padding: 69px 0;
    background-position: 170% 20%;
    background-size: 469px 338px;
  }
//
//  .main-screen__image {
//    display: none;
//  }
//
  .main-screen__headline {
    margin: 0;
  }
  .main-screen__text-wrapper {
    max-width: 56%;
    padding: 41px 199px 0 88px;
    margin: 0;
  }
//
  .main-screen__headline {
    @include Roboto-style(60px, bold, 70px, $white, left, uppercase);
    letter-spacing: 0.07em;
  }
//
  .main-screen__description {
    margin-bottom: 11px;
    padding: 28px 0 44px 51px;

    font-size: 18px;
    line-height: 156.8%;
    letter-spacing: unset;

    &:before {
      top: 44px;
      width: 34px;
    }
  }

  .main-screen__link {
    max-width: 317px;
    margin-left: 52px;
    padding: 16px 31px 18px 30px;
  }

  .main-screen__link-text {
    &--tablet {
      display: block;
    }

    &--mobile {
      display: none;
    }
  }

  .main-screen__scroll {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .main-screen__link-text {
    &--tablet {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}
