.master-block {
  background-color: $dark-background;
  background-image: url("../img/background-desktop.png");
  background-position: center;
  background-size: contain;
}

.master-block__wrapper {
  background-image: url("../img/rect-main-desktop.svg");
  background-repeat: no-repeat;
  background-position: 64% 24%;
  background-size: 1900px 892px;
}

@media (max-width: $desktop-width) {
  .master-block__wrapper {
    background-position: 57% 174%;
    background-size: 2115px 963px;
  }
}

@media (max-width: 1500px) {
  .master-block__wrapper {
    background-position: 47% -49%;
    background-size: 1415px 663px;
  }
}

@media (max-width: $tablet-width) {
  .master-block__wrapper {
    background-image: url("../img/rect-main-tablet.svg");
    background-position: right 2%;
    background-size: 769px 563px;
  }
}

@media (max-width: $mobile-width) {
  .master-block__wrapper {
    background-image: url("../img/rect-main-mobile.svg");
    background-position: right -1%;
    background-size: 300px 530px;
  }
}
