.modal-window {
  display: none;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-window--active {
  display: block;
}

.modal-window__form {
  position: absolute;
  top: 172px;
  left: 0;
  right: 0;
  margin: auto;
  width: 490px;
  height: 500px;
  padding: 33px 40px 36px 40px;

  background-color: $blue;
}

.modal-window__close-button {
  position: absolute;
  content: "";
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  display: inline-block;

  background-image: url("../../img/close.svg");
  @include backImage();
  border: none;
  background-color: transparent;
}

.modal-window__form .form__text {
  @include Roboto-style(28px, normal, 39px, $white, left, none);
}

.modal-window .form__nav-submit-button {
  display: block;
  width: 100%;
}

.modal-window .form__nav-privacy-label {
  display: block;
  width: 100%;
}
