.services {
  background-color: #1B2D37;
}

.services__description {
  @include Roboto-style(36px, normal, 57px, #FFFFFF, left, none);
}

.services__list {
  list-style-type: none;
}

.services__item {
  position: relative;
  width: 370px;
  height: 620px;
}

.services__item {
  display: inline-flex;

  @include backImage();

  &--production {
    background-image: url("../../img/service1.png");
  }

  &--mounting {
    background-image: url("../../img/service2.png");
  }

  &--kits {
    background-image: url("../../img/service3.png");
  }
}

.services__item-link {
  text-decoration: none;
  z-index: 10;
}

.services__item-text {
  @include Roboto-style(30px, normal, 20px, #FFFFFF, left, none);
  z-index: 10;
}
