.social-block {
  padding: 0 25px 46px 25px;
  text-align: center;
}

.social-block__logo-link {
  display: block;
  text-decoration: none;
}

.social-block__logo-image {
  padding: 0;
}

.social-block__logo-text {
  color: #203C42;
}

.social-block__item {
  display: inline-block;
  padding: 18px 0 0 0;
  opacity: 0.5;

  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: $dark-background;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .social-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    padding: 19px 17px 19px 17px;

    border-bottom: 1px solid rgba(98, 105, 98, 0.1);
  }

  .social-block__logo-link {
    flex-grow: 0.2;
  }

  .social-block__item {
    padding: 0;
    margin: 0;
    flex-grow: 1.9;
  }
}

@media (min-width: 1500px) {
  .social-block {
    display: block;
    width: 30%;
    padding: 0 0 0 26px;
    border: none;
    box-sizing: border-box;
  }

  .social-block__logo-link {
    text-align: left;
  }

  .social-block__item {
    display: none;
  }
}

@media (min-width: $mega-desktop-width) {
  .social-block {
    padding: 0 0 0 252px;
  }
}


