.social-block__logo-link {
  text-decoration: none;
}

.social-block__logo-text {
  color: #203C42;
}

.social-block__item {
  opacity: 0.5;

  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1B2D37;
}
