$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1919px;
$blue: #00B2FF;
$active-blue: #83D1FE;
$white: #FFFFFF;
$dark-background: #1B2D37;
$grey-brown: #666666;
$border-line: 1px solid rgba(98, 105, 98, 0.1);
