$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1919px;
$blue: #00b2ff;
$active-blue: #83d1fe;
$white: #ffffff;
$dark-background: #1b2d37;
$green-grey: #203c42;
$grey-brown: #666666;
$border-line: 1px solid rgba(98, 105, 98, 0.1);
$light-grey: #ebebeb;
